.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.title {
  margin-top: 15%;
  font-weight: bold;
}


.container {
  margin-top: 100px;
  background: linear-gradient(to right, #e0729c, #DF4380);
  color: white;
  width: 375px;
  height: 660px;
  box-shadow: -4px 8px 15px 1px rgba(0,0,0,0.1);
}


.signInContainer {
  background-color: inherit;
  margin-top: 60px;
}

form {
  margin: 0 auto;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 280px;
}

input {
  font-family: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
  margin: 10px;
  padding: 10px 10px 10px 0;
  color: white;
}
input:focus {
  outline: 0;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 30px #ED6095 inset;
}
::placeholder {
  font-family: inherit;
  color: inherit;
  text-align: left;
  font-weight: 300;
}

.buttonContainer {
  /* margin-top: 50%; */

}

.btn {
  font-family: inherit;
  background-color: white;
  font-weight: bold;
  font-size: .9em;
  color: #ED6095;
  margin: 15px 0;
  padding: 10px 15px;
  width: 150px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;
}
.btn:focus {
  outline: 0;
}



.signUpContainer {
  background-color: inherit;
  margin-top: 60px;
}

.linkToSignUp {
  margin: 10px auto 20% auto;
  font-weight: 300;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}



@media (max-width: 600px) {
  .App {
    width: auto;
    margin: 0;
  }

  .container {
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}
