body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right top, #313FA0, #6474D4);
}

@media (max-width: 600px) {
  body {
    background: linear-gradient(to right, #e0729c, #DF4380);
  }
}
html {
  height: 100%;
}
